# Ignore IDE state files
*.cbp
*.sln
*.vcx*
*.workspace*
*.xcodeproj
*.plist
*.xcconfig
*.suo
*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.xcworkspacedata
xcuserdata/
project.xcworkspace
*.sublime-workspace
*.qbs.user

*.vs
*.obj
*.rc

# Ignore the standard QT Creator build paths
build-*
*/build/*

# Ignore build artifacts for custom addons
obj/
bin/
build/**
!/data

# Ignore library files
/libs/Vimba/*
